rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /app-icons/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /app-apks/{userId}/{allPaths=**} {
      allow read: if request.auth != null && request.auth.token.email == 'tripleuworld@gmail.com';
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
